.register{
    border: 1px solid #B0BEC5;
    width: 30%;
    height: 350px;
    margin-left: 30%;
    margin-top: 4%;
}
h1{
    text-align: center;
}
.username1{
    margin-left: 4%;

}
.email1{
    margin-left: 10%;
}
.password1{
    margin-left: 5%;
}
.button15{
    margin-top: 32%;
    margin-left: -38%;
} 